<div class="col-xs-6 col-sm-4">
    <!-- Create Account -->
    <div id="createForm" class="panel panel-primary">
        <div class="panel-body">
            <!-- Entry Form -->
            <form>
                <div class="form-group">
                    <input class="form-control" id="emailInput" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" id="passwordInput" type="password" placeholder="Password">
                </div>
                <div id="createButtonDiv">
                    <button id="createButton" class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
