<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index/create" method="POST"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div id="title">
        <h1>BoozR 2.0</h1>
    </div>

    <div class="col-xs-6 col-sm-4">
        <!-- Search for booze deals  -->
        <div id="searchForm" class="panel panel-primary">
            <div class="panel-body">
                <!-- Entry Form -->
                <form>
                    <div class="form-group">
                        <input class="form-control" id="locationInput" type="text" placeholder="Enter Location">
                    </div>
                    <div id="searchButtonDiv">
                        <button id="searchButton" class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
